hr {
    border: 3px solid rgb(128, 120, 120);
    border-style: solid; 
    border-radius: 5px;
    color: #fff; 
    background-color: #fff;
}

ul { 
    display: inline-block; 
    line-height: 31px;
    margin-left: 70px;
    margin-right: 70px;
}

.container {
    border: 1px solid black;
    margin-left: 15%;
    margin-right: 15%;
    object-fit: contain;
    padding: 5px;
}

.section-2 {
    position: relative;
    text-align: center;
}

#top-left-image {
    position: absolute;
    top: 60px;
    left: 265px;
}

#title {
    position: relative;
    top: 1px;
    left: 50px;
}

#subtitle {
    position: relative;
    top: -35px;
    left: 50px;

}

#sticky-list {
    position: absolute;
    
    /*border: 1px solid black;*/
    bottom: 90px;
    left: 70px;
    width: 850px;
    height: 200px;
}

/* #strike-through {
    text-decoration: line-through;
} */

#title {
    font-family: 'Bowlby One SC', cursive;
    font-size: 40px;
    /* padding: 1cm; */
}

#subtitle {
    font-size: 8px;
    /* padding: 1cm; */
}

#section-1-title {
    font-family: 'Roboto', sans-serif;
}

#last-line-break {
    border: 1.2px double rgb(128, 120, 120);
    border-style: dotted; 
    color: #fff; 
    background-color: #fff;
}

#share-button {
    background-color: rgb(230, 148, 42); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

